

    body{
        margin: 0;
        padding: 0;
        font-family: Rubik;
    }
    
    
   
    #first_row{
        min-height: 1000px;
        background-color: white;
        display: flex;
        
    }
    
    

    #my_name{
        min-height: 300px;
    }
    #full_name{
        color:#E2879F;
    }
    .text_size{
        font-size: 60px;
    }
    #learn{
        border: 2px solid #E2879F;
        background-color: white;
        font-size:26px ;
        color:#E2879F;
        min-width: 200px;
        transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
        transition-timing-function: linear;

    }
    #learn:hover{
        background-color: #E2879F;
        color:white;

    }
    #learn:focus{
        background-color: #E2879F;
        color:white;

    }
    #second_row{
        background-color: #E2879F;
        min-height:100px;
        color: white;
        display: flex;
    }
    #about{
        text-align: center;
        font-size: 60px;
        
    }
    #third_row{
        background-color: #E2879F;
        min-height:680px;
        color: white;
        display: flex;
        position: relative;
        font-family: montserrat;
    }
    #third_row:after{
        position: absolute;
        height: 100%;
        width: 100%;
        content:'';
        background: inherit;
        top:0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
        transform-origin: top right;
        transform:skewY(-4deg)
    }
    
    #fourth_row{
        min-height:80px;
        display: flex;

        
    }
    #aboutmecontent{
        min-height:500px;
        font-size: 22px;
    }
    #img{
        min-height:500px;

    }

    #learn2{
        border: 2px solid #E2879F;
        background-color: white;
        font-size:24px ;
        color:#E2879F;
        min-width: 200px;
        transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
        transition-timing-function: linear;

    }
    #learn2:hover{
        background-color: #E2879F;
        color:white;
        border: 2px solid white;

    }
    #project{
        text-align: center;
        font-size: 60px;
        color:black;

    }
    #project1{
        font-family:  montserrat;
        min-height: 400px;
        display: flex;
        color:black;
        font-family: Rubik;


    }
    #wedwheel{
        font-family: montserrat;
        font-size: 18px;
    }
    #project2{
        font-family:  montserrat;
        min-height: 400px;
        display: flex;
        color:black;
        font-family: Rubik;


    }
    #portfolio{
        font-family: montserrat;
        font-size: 18px;
    }
    .live{
        border: 2px solid #E2879F;
        background-color: white;
        color:#E2879F;
        transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
        transition-timing-function: linear;
        
    }
    .live:hover{
        background-color: #E2879F;
        color:white;

    }
    .live:focus{
        background-color: #E2879F;
        color:white;

    }
    a{
        text-decoration: none;
        
    }
    #project3{
        font-family:  montserrat;
        min-height: 700px;
        display: flex;
        color:black;
        font-family: Rubik;


    }
    #git{
        font-family: montserrat;
        font-size: 18px;
    }
    #contact{
        background-color: #E2879F;
        min-height:300px;
        color: white;
        display: flex;
        position: relative;
        text-align: center;

    }
    #contact:before{
        position: absolute;
        height: 100%;
        width: 100%;
        content:'';
        background: inherit;
        top:0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
        transform-origin: bottom left;
        transform:skewY(-6deg)
    }
    #contacth1{
        font-size: 50px;

    }
    #learn1{
        border: 2px solid ;
        background-color: white;
        font-size:26px ;
        color:#E2879F !important;
        transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
        transition-timing-function: linear;

    }
    #learn1:hover{
        background-color: #E2879F;
        color:white !important;
        border: 2px solid white;

    }
   
    #contacta{
        color:#E2879F;

    }
    #contacta:hover{
        color:white !important;
    }
    #contactp{
        font-family: montserrat;
        font-size: 24px;
    }
    #footer{
        background-color: black;
        min-height:300px;
        color: white;
        display: flex;
        text-align: center; 
    }
    i{
        color: white !important;
    }